.header {
  margin-top: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 70vh;
  font-weight: 800;
  position: relative;
   font-size: 4rem;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../Assets/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.cont {
 margin-top: 4rem;
 margin-left: 4rem;
}

@media (max-width: 1000px) {
  .cont{
    margin-bottom: 4rem;
    font-size: 2.5rem;
  }
  .header::before {
    background-attachment: initial;
  }
}
