.skill-container h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 50px;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    

}

.skill-list {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    text-align: center;
    flex: 1 1 calc(33.33% - 20px);
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}

.skill:hover {
    outline: 3px solid var(--primary-color); 
    transition: background-color 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease; 
    background-color: transparent;
}
.skill i {
    font-size: 2rem;
}

.skill p {
    font-size: 1.2rem;
    color: var(--white);
    margin-top: 10px;
}


@media (max-width: 820px) {
    .skill {
        flex: 1 1 calc(50% - 20px);
    }
     
    .skill-list {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .skill p {
        font-size: 1rem;
    }
}