#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 90px;
    text-align: center;
    font-style: italic;
    animation:fadeInOut 2s infinite;
    background-color: var(--background-color);
    color: var(--color);
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

#content{
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}