.work {
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.work img {
  width: 320px;
  height: 250px;
  transition: transform 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--light-gray);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay h3,
.overlay p,
.overlay a {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.overlay a,p{
  color: #fff;
}

.overlay h3{
  color: var(--primary-color);
}

.overlay p{
  opacity: 0.8;
}
.work:hover img {
  transform: scale(1.1);
}

.work:hover .overlay {
  opacity: 1;
}
