#about {
    overflow-x: hidden;
}

#about h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 50px;
}

.about {
    margin: auto;
    width: 100%;
    padding: 2rem;
    display: flex;
    gap: 8rem;
    justify-content: center;
    align-items: center;
   
}

.about .col1 {
    margin-top: 1rem;
    font-weight: 800;
    line-height: 1.5;
    font-size: 17px;
    width: 40vw;
}

.about p {
    color: var(--white);
}


.about img {
    width: 80%;
    height: 100%;
    box-shadow: 2px 2px 15px;
}


.about .btn {
    display: flex;
    align-items: center;
    padding: 0.8em 1.3em 0.8em 0.9em;
    background-color: var(--primary-color);
    color: var(--dark-black);
    margin-top: 1.5rem;
    border: none;
    font-weight: 800;
    letter-spacing: 0.05em;
    border-radius: 16px;
}

.about .btn svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.about .btn span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.about .btn:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.about .btn:hover span {
    transform: translateX(7px);
}


@media (max-width:1000px) {
    .about {
        padding: 2.5rem;
        flex-direction: column;
        gap: 0.5rem;
    }

    .about .col1 {
        width: 90vw;
        padding: 1rem;
    }

    .about .col2 img{
        width: auto;
    }

}