.contact{
    margin-top: 5rem;
    text-align: center;
    overflow-x: hidden;

}
.grid2{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: auto auto;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputs input,textarea{
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    padding: 1rem;
    margin-top:1rem ;
    width: 70%;
} 

.inputs .btn{
    background-color: rgb(204, 255, 255); 
    color: black;
    padding: 0.5rem;
    text-align: center;
    font-weight: 800;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1rem;
    width: 30%;
}

.grid2 h3{
    text-align: center;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.card{
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 0.5rem;
    margin-top: 1rem;
    width: 20%;
}
.card p{
    color: white;
    font-size: 1rem;
}
.msg{
    color: aqua;
    display: block;
}

@media (max-width:767px) {
    .grid2 {
        display: flex;
        flex-direction: column;
    }
    .column2{
        margin-top: 2rem;
    }
}