nav {
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  background-color: #1E1E1F;
  transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
  opacity: 1;
}

nav ul {
  margin-right: 1.5rem;
}

nav ul a{
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  position: relative;
}


nav ul a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00ced1;
  transition: width 1s ease;
}

nav ul a:hover::after {
  width: 100%;
}

nav a:hover{
  color: #00ced1;
}

nav.scrolling {
  opacity: 0.8; 
}

.logo img{
  width: 3rem;
  margin-left: 1rem;
  transition: 0.3s ease;
}

.logo img:hover{
  transform: scale(1.3);
}


.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: none;
}

.bar {
  width: 40px;
  height: 40px;
}

.menu {
  display: flex;
  gap: 2rem;
  
}

.right-icons a {
  padding: 1rem;
  font-size: 22px;
}


@media (max-width: 750px) {
  body.menu-open {
    overflow: hidden;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    align-items: center;
    text-align: center;
    z-index: 1000;
  }


  .menu.active {
    transform: translateX(0);
    
  }

  .logo{
    order: 1;
  }

  .menu-toggle {
    order: 3;
    display: flex;
    top: 1rem;
    right: 1rem;
    z-index: 1001;
  }

  .right-icons{
    order: 1;
    flex: auto;
  }

}
