.footer {
    margin-top: 10rem;
    overflow-x: hidden;
}

.footer p {
    text-align: center;
    color: var(--white);
}

.connect {
    margin-bottom: 1rem;
}

.footer .connect a {
    margin-left: 15px;
}

.footer .copyright span {
    color: var(--primary-color);
}

.footer .connect {
    display: flex;
    align-items: center;
    justify-content: center;
}