.footer{
    margin-top: 10rem;
    background-color: #1b1c1e;
}
.footer p{
    text-align: center;
}
.connect{
    margin-bottom: 1rem;
}
.footer .connect a{
    margin-left: 15px;
}
.footer .copyright a{
    color: rgb(204, 255, 255);
}

.footer .connect {
    display: flex;
    align-items: center;
    justify-content: center;
  }

