@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --background-color: #131212;
  --primary-color: #00ced1;
  --secondary-color: #0C8181;
  --light-gray: rgba(0, 0, 0, 0.7);
  --light-black: #1E1E1F;
  --dark-black: #111;
  --transparent: transparent;
  --white: #fff;
  --lg: #5F5E5F;
}

.light-theme {
  --background-color: #fff;
  --light-black: #f0f0f0;
  --dark-black: #fff;
  --white: #111;
  --lg: #d1cfcf;
}


html,
body {
  scroll-behavior: smooth;
  background: var(--background-color);
  color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Raleway', sans-serif;

}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--background-color);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #B8B8C2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #828284;
}

/* The line */
.vertical-timeline.vertical-timeline-custom-line::before {
  background: var(--white);
}

/* Icon container's border */
.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--work .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px var(--secondary-color), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}