@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');:root{
    --bg-color:#000000;
  }
  body{
    height: 100vh;
  }

  html{
    scroll-behavior: smooth;
    background-color: var(--bg-color);
  }
  *{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    }
  
  ul{
    list-style-type: none;
  }
  
  a{
    text-decoration: none;
    cursor: pointer;
  }
