@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  html,body{
    scroll-behavior: smooth;
    background-color: #111;
    color: #fff;
  }
  *{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  
  ul{
    list-style-type: none;
  }
  
  a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }
